<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="/css/bootstrap.css" rel='stylesheet'  />

	<!-- Custom CSS -->
	<link href="/css/style.css" rel='stylesheet'  />

	<!-- font-awesome icons CSS -->
	<link href="/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons CSS-->

	<!-- side nav css file -->
	<link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
	<!-- //side nav css file -->

	<!-- js-->
	<script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="/js/modernizr.custom.js" type="text/javascript"></script>

	<!--webfonts-->
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
	<!--//webfonts-->

	<!-- chart -->
	<!--<script src="/js/Chart.js" type="text/javascript"></script>-->
	<!-- //chart -->

	<!-- Metis Menu -->
	<script src="/js/metisMenu.min.js" type="text/javascript"></script>
	<script src="/js/custom.js" type="text/javascript"></script>
	<link href="/css/custom.css" rel="stylesheet">
	<script src="/js/bootstrap.js" type="text/javascript"> </script>
	<script src="/js/scripts.js" type="text/javascript"></script>

	<script src='/js/SidebarNav.min.js' type='text/javascript'></script>
	<!--datatables	-->
	<!--	<link rel="stylesheet" href="/css/dataTables.bootstrap4.css">-->
	<link rel="stylesheet" href="/css/datatables.css">
	<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
	<link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
	<script type="text/javascript" src="/js/dataTables.bootstrap4.js"></script>
	<script type="text/javascript" src="/js/datatables.js"></script>
	<script type="text/javascript" src="/js/datatables-demo.js"></script>
	<!--	<script type="text/javascript" src="/js/jquery.dataTables.js"></script>-->
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>


	<!--datatable	-->
	<!--//Metis Menu -->
	<style>
		#chartdiv {
			width: 100%;
			height: 295px;
		}
		.buttons-html5
		{
			background-color: #ffb22b!important;
			color: white!important;
			font-weight: bold!important;
			border-color: #ffb22b!important;
			border-radius: 5px;
		}
	</style>
	<!--pie-chart --><!-- index page sales reviews visitors pie chart -->
	<!--<script src="js/pie-chart.js" type="text/javascript"></script>-->
	<!-- <script type="text/javascript">-->

	<!--        $(document).ready(function () {-->
	<!--            $('#demo-pie-1').pieChart({-->
	<!--                barColor: '#2dde98',-->
	<!--                trackColor: '#eee',-->
	<!--                lineCap: 'round',-->
	<!--                lineWidth: 8,-->
	<!--                onStep: function (from, to, percent) {-->
	<!--                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');-->
	<!--                }-->
	<!--            });-->

	<!--            $('#demo-pie-2').pieChart({-->
	<!--                barColor: '#8e43e7',-->
	<!--                trackColor: '#eee',-->
	<!--                lineCap: 'butt',-->
	<!--                lineWidth: 8,-->
	<!--                onStep: function (from, to, percent) {-->
	<!--                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');-->
	<!--                }-->
	<!--            });-->

	<!--            $('#demo-pie-3').pieChart({-->
	<!--                barColor: '#ffc168',-->
	<!--                trackColor: '#eee',-->
	<!--                lineCap: 'square',-->
	<!--                lineWidth: 8,-->
	<!--                onStep: function (from, to, percent) {-->
	<!--                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');-->
	<!--                }-->
	<!--            });-->

	<!--           -->
	<!--        });-->

	<!--    </script>-->
	<!-- //pie-chart --><!-- index page sales reviews visitors pie chart -->

	<!-- requried-jsfiles-for owl -->
	<!--					<link href="css/owl.carousel.css" rel="stylesheet">-->
	<!--					<script src="js/owl.carousel.js" type="text/javascript"></script>-->
	<!--						<script>-->
	<!--							$(document).ready(function() {-->
	<!--								$("#owl-demo").owlCarousel({-->
	<!--									items : 3,-->
	<!--									lazyLoad : true,-->
	<!--									autoPlay : true,-->
	<!--									pagination : true,-->
	<!--									nav:true,-->
	<!--								});-->
	<!--							});-->
	<!--						</script>-->
	<!-- //requried-jsfiles-for owl -->
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="/ds"><span class="fa fa-envelope"></span> Mailbox<span class="dashboard_text">Inbox</span></a></h1>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="sidebar-menu">
						<li class="header">MAIN NAVIGATION</li>
						<li class="treeview">
							<a href="/admin/dashboard">
								<i class="fa fa-dashboard"></i> <span>Dashboard</span>
							</a>
						</li>

						<li class="treeview">
							<a>
								<i class="fa fa-envelope"></i> <span>Mailbox</span>
								<i class="fa fa-angle-left pull-right"></i></a>
							<ul class="treeview-menu">
								<li><a href="/admin/inbox"><i class="fa fa-angle-right"></i> Mail Inbox</a></li>
								<li><a href="/admin/compose"><i class="fa fa-angle-right"></i> Compose Mail </a></li>
								<li><a href="/admin/sent"><i class="fa fa-angle-right"></i> sent </a></li>-->
							</ul>
						</li>
						<li class="treeview">
							<a >
								<i class="fa fa-table"></i> <span>Tables</span>
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							<ul class="treeview-menu">
								<li><a href="/admin/users/list"><i class="fa fa-angle-right"></i> User List</a></li>
							</ul>
							<ul class="treeview-menu">
								<li><a href="/admin/corporations/list"><i class="fa fa-angle-right"></i> Domain List</a></li>
							</ul>
						</li>

						<!--				<li class="treeview">-->
						<!--&lt;!&ndash;					<a href="/demo">&ndash;&gt;-->
						<!--						<span><a href="/admin/add/corporation">Domain</a></span>-->
						<!--&lt;!&ndash;					</a>&ndash;&gt;-->
						<!--				</li>-->
						<li class="treeview">
							<a href="/admin/add/corporation">
								<i class="fa fa-users"></i> <span>Domain</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</aside>
	</div>
	<!--left-fixed -navigation-->

	<!-- header-starts -->
	<div class="sticky-header header-section ">
		<div class="header-left">
			<!--toggle button start-->
			<button id="showLeftPush"><i class="fa fa-bars"></i></button>
			<!--toggle button end-->
			<div class="profile_details_left"><!--notifications of menu start -->
				<ul class="nofitications-dropdown">
				</ul>
				<div class="clearfix"> </div>
			</div>
			<!--notification menu end -->
			<div class="clearfix"> </div>
		</div>
		<div class="header-right">


			<!--search-box-->
<!--			<div class="search-box" >-->
<!--				<form class="input">-->
<!--					<input class="sb-search-input input__field&#45;&#45;madoka" placeholder="Search..." type="search" id="input-31" />-->
<!--					<label class="input__label" for="input-31">-->
<!--						<svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">-->
<!--							<path d="m0,0l404,0l0,77l-404,0l0,-77z"/>-->
<!--						</svg>-->
<!--					</label>-->
<!--				</form>-->
<!--			</div>&lt;!&ndash;//end-search-box&ndash;&gt;-->

			<div class="profile_details">
				<ul>
					<li class="dropdown profile_details_drop">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<div class="profile_img">

								<div class="user-name">
									<p>Admin Name</p>
									<span>Administrator</span>
								</div>
								<i class="fa fa-angle-down lnr"></i>
								<i class="fa fa-angle-up lnr"></i>
								<div class="clearfix"></div>
							</div>
						</a>
						<ul class="dropdown-menu drp-mnu">
							<li> <a href="#"><i class="fa fa-suitcase"></i> Profile</a> </li>
							<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //header-ends -->
	<!-- main content start-->
	<div id="page-wrapper">
		<div class="main-page">
			<div class="col_3">
				<div class="col-md-3 widget widget1">
					<div class="r3_counter_box">
						<i class="pull-left fa fa-pie-chart dollar1 icon-rounded"></i>
						<div class="stats">
							<h5><strong>$450</strong></h5>
							<span>Expenditure</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 widget">
					<div class="r3_counter_box">
						<i class="pull-left fa fa-users dollar2 icon-rounded"></i>
						<div class="stats">
							<h5><strong>1450</strong></h5>
							<span>Total Users</span>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>






			<!-- for amcharts js -->
			<!--			<script src="js/amcharts.js" type="text/javascript"></script>-->
			<!--			<script src="js/serial.js" type="text/javascript"></script>-->
			<!--			<script src="js/export.min.js" type="text/javascript"></script>-->
			<!--			<link rel="stylesheet" href="css/export.css" type="text/css" media="all" />-->
			<!--			<script src="js/light.js" type="text/javascript"></script>-->
			<!-- for amcharts js -->

			<!--    <script  src="js/index1.js" type="text/javascript"></script>-->





		</div>
	</div>

</div>

<!-- new added graphs chart js-->

<!--    <script src="js/Chart.bundle.js" type="text/javascript"></script>-->
<!--    <script src="js/utils.js" type="text/javascript"></script>-->

<!--	<script>-->
<!--        var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];-->
<!--        var color = Chart.helpers.color;-->
<!--        var barChartData = {-->
<!--            labels: ["January", "February", "March", "April", "May", "June", "July"],-->
<!--            datasets: [{-->
<!--                label: 'Dataset 1',-->
<!--                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),-->
<!--                borderColor: window.chartColors.red,-->
<!--                borderWidth: 1,-->
<!--                data: [-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor()-->
<!--                ]-->
<!--            }, {-->
<!--                label: 'Dataset 2',-->
<!--                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),-->
<!--                borderColor: window.chartColors.blue,-->
<!--                borderWidth: 1,-->
<!--                data: [-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor(),-->
<!--                    randomScalingFactor()-->
<!--                ]-->
<!--            }]-->

<!--        };-->

<!--        window.onload = function() {-->
<!--            var ctx = document.getElementById("canvas").getContext("2d");-->
<!--            window.myBar = new Chart(ctx, {-->
<!--                type: 'bar',-->
<!--                data: barChartData,-->
<!--                options: {-->
<!--                    responsive: true,-->
<!--                    legend: {-->
<!--                        position: 'top',-->
<!--                    },-->
<!--                    title: {-->
<!--                        display: true,-->
<!--                        text: 'Chart.js Bar Chart'-->
<!--                    }-->
<!--                }-->
<!--            });-->

<!--        };-->

<!--        document.getElementById('randomizeData').addEventListener('click', function() {-->
<!--            var zero = Math.random() < 0.2 ? true : false;-->
<!--            barChartData.datasets.forEach(function(dataset) {-->
<!--                dataset.data = dataset.data.map(function() {-->
<!--                    return zero ? 0.0 : randomScalingFactor();-->
<!--                });-->

<!--            });-->
<!--            window.myBar.update();-->
<!--        });-->

<!--        var colorNames = Object.keys(window.chartColors);-->
<!--        document.getElementById('addDataset').addEventListener('click', function() {-->
<!--            var colorName = colorNames[barChartData.datasets.length % colorNames.length];;-->
<!--            var dsColor = window.chartColors[colorName];-->
<!--            var newDataset = {-->
<!--                label: 'Dataset ' + barChartData.datasets.length,-->
<!--                backgroundColor: color(dsColor).alpha(0.5).rgbString(),-->
<!--                borderColor: dsColor,-->
<!--                borderWidth: 1,-->
<!--                data: []-->
<!--            };-->

<!--            for (var index = 0; index < barChartData.labels.length; ++index) {-->
<!--                newDataset.data.push(randomScalingFactor());-->
<!--            }-->

<!--            barChartData.datasets.push(newDataset);-->
<!--            window.myBar.update();-->
<!--        });-->

<!--        document.getElementById('addData').addEventListener('click', function() {-->
<!--            if (barChartData.datasets.length > 0) {-->
<!--                var month = MONTHS[barChartData.labels.length % MONTHS.length];-->
<!--                barChartData.labels.push(month);-->

<!--                for (var index = 0; index < barChartData.datasets.length; ++index) {-->
<!--                    //window.myBar.addData(randomScalingFactor(), index);-->
<!--                    barChartData.datasets[index].data.push(randomScalingFactor());-->
<!--                }-->

<!--                window.myBar.update();-->
<!--            }-->
<!--        });-->

<!--        document.getElementById('removeDataset').addEventListener('click', function() {-->
<!--            barChartData.datasets.splice(0, 1);-->
<!--            window.myBar.update();-->
<!--        });-->

<!--        document.getElementById('removeData').addEventListener('click', function() {-->
<!--            barChartData.labels.splice(-1, 1); // remove the label first-->

<!--            barChartData.datasets.forEach(function(dataset, datasetIndex) {-->
<!--                dataset.data.pop();-->
<!--            });-->

<!--            window.myBar.update();-->
<!--        });-->
<!--    </script>-->
<!--	&lt;!&ndash; new added graphs chart js&ndash;&gt;-->
<!--	-->
<!--	&lt;!&ndash; Classie &ndash;&gt;&lt;!&ndash; for toggle left push menu script &ndash;&gt;-->
<!--		<script src="/js/classie.js"></script>-->
<!--		<script>-->
<!--			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),-->
<!--				showLeftPush = document.getElementById( 'showLeftPush' ),-->
<!--				body = document.body;-->
<!--				-->
<!--			showLeftPush.onclick = function() {-->
<!--				classie.toggle( this, 'active' );-->
<!--				classie.toggle( body, 'cbp-spmenu-push-toright' );-->
<!--				classie.toggle( menuLeft, 'cbp-spmenu-open' );-->
<!--				disableOther( 'showLeftPush' );-->
<!--			};-->
<!--			-->

<!--			function disableOther( button ) {-->
<!--				if( button !== 'showLeftPush' ) {-->
<!--					classie.toggle( showLeftPush, 'disabled' );-->
<!--				}-->
<!--			}-->
<!--		</script>-->
<!-- //Classie --><!-- //for toggle left push menu script -->

<!--scrolling js-->
<!--	<script src="/js/jquery.nicescroll.js" type="text/javascript"> </script>-->
<script src="/js/scripts.js" type="text/javascript"></script>
<!--//scrolling js-->

<!-- side nav js -->
<script src='/js/SidebarNav.min.js' type='text/javascript'></script>
<script>
	$('.sidebar-menu').SidebarNav()
</script>
<!-- //side nav js -->

<!-- for index page weekly sales java script -->
<!--	<script src="/js/SimpleChart.js" type="text/javascript"></script>-->
<!--    <script>-->
<!--        var graphdata1 = {-->
<!--            linecolor: "#CCA300",-->
<!--            title: "Monday",-->
<!--            values: [-->
<!--            { X: "6:00", Y: 10.00 },-->
<!--            { X: "7:00", Y: 20.00 },-->
<!--            { X: "8:00", Y: 40.00 },-->
<!--            { X: "9:00", Y: 34.00 },-->
<!--            { X: "10:00", Y: 40.25 },-->
<!--            { X: "11:00", Y: 28.56 },-->
<!--            { X: "12:00", Y: 18.57 },-->
<!--            { X: "13:00", Y: 34.00 },-->
<!--            { X: "14:00", Y: 40.89 },-->
<!--            { X: "15:00", Y: 12.57 },-->
<!--            { X: "16:00", Y: 28.24 },-->
<!--            { X: "17:00", Y: 18.00 },-->
<!--            { X: "18:00", Y: 34.24 },-->
<!--            { X: "19:00", Y: 40.58 },-->
<!--            { X: "20:00", Y: 12.54 },-->
<!--            { X: "21:00", Y: 28.00 },-->
<!--            { X: "22:00", Y: 18.00 },-->
<!--            { X: "23:00", Y: 34.89 },-->
<!--            { X: "0:00", Y: 40.26 },-->
<!--            { X: "1:00", Y: 28.89 },-->
<!--            { X: "2:00", Y: 18.87 },-->
<!--            { X: "3:00", Y: 34.00 },-->
<!--            { X: "4:00", Y: 40.00 }-->
<!--            ]-->
<!--        };-->
<!--        var graphdata2 = {-->
<!--            linecolor: "#00CC66",-->
<!--            title: "Tuesday",-->
<!--            values: [-->
<!--              { X: "6:00", Y: 100.00 },-->
<!--            { X: "7:00", Y: 120.00 },-->
<!--            { X: "8:00", Y: 140.00 },-->
<!--            { X: "9:00", Y: 134.00 },-->
<!--            { X: "10:00", Y: 140.25 },-->
<!--            { X: "11:00", Y: 128.56 },-->
<!--            { X: "12:00", Y: 118.57 },-->
<!--            { X: "13:00", Y: 134.00 },-->
<!--            { X: "14:00", Y: 140.89 },-->
<!--            { X: "15:00", Y: 112.57 },-->
<!--            { X: "16:00", Y: 128.24 },-->
<!--            { X: "17:00", Y: 118.00 },-->
<!--            { X: "18:00", Y: 134.24 },-->
<!--            { X: "19:00", Y: 140.58 },-->
<!--            { X: "20:00", Y: 112.54 },-->
<!--            { X: "21:00", Y: 128.00 },-->
<!--            { X: "22:00", Y: 118.00 },-->
<!--            { X: "23:00", Y: 134.89 },-->
<!--            { X: "0:00", Y: 140.26 },-->
<!--            { X: "1:00", Y: 128.89 },-->
<!--            { X: "2:00", Y: 118.87 },-->
<!--            { X: "3:00", Y: 134.00 },-->
<!--            { X: "4:00", Y: 180.00 }-->
<!--            ]-->
<!--        };-->
<!--        var graphdata3 = {-->
<!--            linecolor: "#FF99CC",-->
<!--            title: "Wednesday",-->
<!--            values: [-->
<!--              { X: "6:00", Y: 230.00 },-->
<!--            { X: "7:00", Y: 210.00 },-->
<!--            { X: "8:00", Y: 214.00 },-->
<!--            { X: "9:00", Y: 234.00 },-->
<!--            { X: "10:00", Y: 247.25 },-->
<!--            { X: "11:00", Y: 218.56 },-->
<!--            { X: "12:00", Y: 268.57 },-->
<!--            { X: "13:00", Y: 274.00 },-->
<!--            { X: "14:00", Y: 280.89 },-->
<!--            { X: "15:00", Y: 242.57 },-->
<!--            { X: "16:00", Y: 298.24 },-->
<!--            { X: "17:00", Y: 208.00 },-->
<!--            { X: "18:00", Y: 214.24 },-->
<!--            { X: "19:00", Y: 214.58 },-->
<!--            { X: "20:00", Y: 211.54 },-->
<!--            { X: "21:00", Y: 248.00 },-->
<!--            { X: "22:00", Y: 258.00 },-->
<!--            { X: "23:00", Y: 234.89 },-->
<!--            { X: "0:00", Y: 210.26 },-->
<!--            { X: "1:00", Y: 248.89 },-->
<!--            { X: "2:00", Y: 238.87 },-->
<!--            { X: "3:00", Y: 264.00 },-->
<!--            { X: "4:00", Y: 270.00 }-->
<!--            ]-->
<!--        };-->
<!--        var graphdata4 = {-->
<!--            linecolor: "Random",-->
<!--            title: "Thursday",-->
<!--            values: [-->
<!--              { X: "6:00", Y: 300.00 },-->
<!--            { X: "7:00", Y: 410.98 },-->
<!--            { X: "8:00", Y: 310.00 },-->
<!--            { X: "9:00", Y: 314.00 },-->
<!--            { X: "10:00", Y: 310.25 },-->
<!--            { X: "11:00", Y: 318.56 },-->
<!--            { X: "12:00", Y: 318.57 },-->
<!--            { X: "13:00", Y: 314.00 },-->
<!--            { X: "14:00", Y: 310.89 },-->
<!--            { X: "15:00", Y: 512.57 },-->
<!--            { X: "16:00", Y: 318.24 },-->
<!--            { X: "17:00", Y: 318.00 },-->
<!--            { X: "18:00", Y: 314.24 },-->
<!--            { X: "19:00", Y: 310.58 },-->
<!--            { X: "20:00", Y: 312.54 },-->
<!--            { X: "21:00", Y: 318.00 },-->
<!--            { X: "22:00", Y: 318.00 },-->
<!--            { X: "23:00", Y: 314.89 },-->
<!--            { X: "0:00", Y: 310.26 },-->
<!--            { X: "1:00", Y: 318.89 },-->
<!--            { X: "2:00", Y: 518.87 },-->
<!--            { X: "3:00", Y: 314.00 },-->
<!--            { X: "4:00", Y: 310.00 }-->
<!--            ]-->
<!--        };-->
<!--        var Piedata = {-->
<!--            linecolor: "Random",-->
<!--            title: "Profit",-->
<!--            values: [-->
<!--              { X: "Monday", Y: 50.00 },-->
<!--            { X: "Tuesday", Y: 110.98 },-->
<!--            { X: "Wednesday", Y: 70.00 },-->
<!--            { X: "Thursday", Y: 204.00 },-->
<!--            { X: "Friday", Y: 80.25 },-->
<!--            { X: "Saturday", Y: 38.56 },-->
<!--            { X: "Sunday", Y: 98.57 }-->
<!--            ]-->
<!--        };-->
<!--        $(function () {-->
<!--            $("#Bargraph").SimpleChart({-->
<!--                ChartType: "Bar",-->
<!--                toolwidth: "50",-->
<!--                toolheight: "25",-->
<!--                axiscolor: "#E6E6E6",-->
<!--                textcolor: "#6E6E6E",-->
<!--                showlegends: true,-->
<!--                data: [graphdata4, graphdata3, graphdata2, graphdata1],-->
<!--                legendsize: "140",-->
<!--                legendposition: 'bottom',-->
<!--                xaxislabel: 'Hours',-->
<!--                title: 'Weekly Profit',-->
<!--                yaxislabel: 'Profit in $'-->
<!--            });-->
<!--            $("#sltchartype").on('change', function () {-->
<!--                $("#Bargraph").SimpleChart('ChartType', $(this).val());-->
<!--                $("#Bargraph").SimpleChart('reload', 'true');-->
<!--            });-->
<!--            $("#Hybridgraph").SimpleChart({-->
<!--                ChartType: "Hybrid",-->
<!--                toolwidth: "50",-->
<!--                toolheight: "25",-->
<!--                axiscolor: "#E6E6E6",-->
<!--                textcolor: "#6E6E6E",-->
<!--                showlegends: true,-->
<!--                data: [graphdata4],-->
<!--                legendsize: "140",-->
<!--                legendposition: 'bottom',-->
<!--                xaxislabel: 'Hours',-->
<!--                title: 'Weekly Profit',-->
<!--                yaxislabel: 'Profit in $'-->
<!--            });-->
<!--            $("#Linegraph").SimpleChart({-->
<!--                ChartType: "Line",-->
<!--                toolwidth: "50",-->
<!--                toolheight: "25",-->
<!--                axiscolor: "#E6E6E6",-->
<!--                textcolor: "#6E6E6E",-->
<!--                showlegends: false,-->
<!--                data: [graphdata4, graphdata3, graphdata2, graphdata1],-->
<!--                legendsize: "140",-->
<!--                legendposition: 'bottom',-->
<!--                xaxislabel: 'Hours',-->
<!--                title: 'Weekly Profit',-->
<!--                yaxislabel: 'Profit in $'-->
<!--            });-->
<!--            $("#Areagraph").SimpleChart({-->
<!--                ChartType: "Area",-->
<!--                toolwidth: "50",-->
<!--                toolheight: "25",-->
<!--                axiscolor: "#E6E6E6",-->
<!--                textcolor: "#6E6E6E",-->
<!--                showlegends: true,-->
<!--                data: [graphdata4, graphdata3, graphdata2, graphdata1],-->
<!--                legendsize: "140",-->
<!--                legendposition: 'bottom',-->
<!--                xaxislabel: 'Hours',-->
<!--                title: 'Weekly Profit',-->
<!--                yaxislabel: 'Profit in $'-->
<!--            });-->
<!--            $("#Scatterredgraph").SimpleChart({-->
<!--                ChartType: "Scattered",-->
<!--                toolwidth: "50",-->
<!--                toolheight: "25",-->
<!--                axiscolor: "#E6E6E6",-->
<!--                textcolor: "#6E6E6E",-->
<!--                showlegends: true,-->
<!--                data: [graphdata4, graphdata3, graphdata2, graphdata1],-->
<!--                legendsize: "140",-->
<!--                legendposition: 'bottom',-->
<!--                xaxislabel: 'Hours',-->
<!--                title: 'Weekly Profit',-->
<!--                yaxislabel: 'Profit in $'-->
<!--            });-->
<!--            $("#Piegraph").SimpleChart({-->
<!--                ChartType: "Pie",-->
<!--                toolwidth: "50",-->
<!--                toolheight: "25",-->
<!--                axiscolor: "#E6E6E6",-->
<!--                textcolor: "#6E6E6E",-->
<!--                showlegends: true,-->
<!--                showpielables: true,-->
<!--                data: [Piedata],-->
<!--                legendsize: "250",-->
<!--                legendposition: 'right',-->
<!--                xaxislabel: 'Hours',-->
<!--                title: 'Weekly Profit',-->
<!--                yaxislabel: 'Profit in $'-->
<!--            });-->

<!--            $("#Stackedbargraph").SimpleChart({-->
<!--                ChartType: "Stacked",-->
<!--                toolwidth: "50",-->
<!--                toolheight: "25",-->
<!--                axiscolor: "#E6E6E6",-->
<!--                textcolor: "#6E6E6E",-->
<!--                showlegends: true,-->
<!--                data: [graphdata3, graphdata2, graphdata1],-->
<!--                legendsize: "140",-->
<!--                legendposition: 'bottom',-->
<!--                xaxislabel: 'Hours',-->
<!--                title: 'Weekly Profit',-->
<!--                yaxislabel: 'Profit in $'-->
<!--            });-->

<!--            $("#StackedHybridbargraph").SimpleChart({-->
<!--                ChartType: "StackedHybrid",-->
<!--                toolwidth: "50",-->
<!--                toolheight: "25",-->
<!--                axiscolor: "#E6E6E6",-->
<!--                textcolor: "#6E6E6E",-->
<!--                showlegends: true,-->
<!--                data: [graphdata3, graphdata2, graphdata1],-->
<!--                legendsize: "140",-->
<!--                legendposition: 'bottom',-->
<!--                xaxislabel: 'Hours',-->
<!--                title: 'Weekly Profit',-->
<!--                yaxislabel: 'Profit in $'-->
<!--            });-->
<!--        });-->

<!--    </script>-->
<!-- //for index page weekly sales java script -->


<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.js" type="text/javascript"> </script>
<!-- //Bootstrap Core JavaScript -->
<script>
	$(document).ready(function () {
		var table=$('#dataTable').DataTable({
			dom: '<"top"lBf>tr<"bottom"ip><"clear">',
			buttons: [
				{
					extend: 'pdfHtml5',
					autoFilter: true,
					title:"DEMO",
					fileName:"DMEO"

				},
			],
		});
	})
</script>
</body>
</html>