<html>

<head>
    <title>Intranet Mailing System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />

<!--    <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">-->

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <!--/Style-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />

    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS-->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS-->

    <!-- side nav css file -->
    <link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <!-- side nav css file -->

    <!-- js-->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/custom.js"></script>
    <link href="/css/custom.css" rel="stylesheet">


    <!--//Style-CSS -->
    <script>
        function openUrlAdmin() {
            window.location.href = "login.html";
        }

        function openUrlUser() {
            window.location.href = "user_login.html";
        }
    </script>

</head>

<body>
<section class="w3l-forms-main-61">
    <div class="form-inner">
        <div class="wrapper">
            <div class="d-grid top-form">

                <div class="logo">
                    <a class="brand-logo" href="Main.html"><span><span class="fa fa-viadeo" aria-hidden="true"></span>Intranet Mailing System</span>
                    </a>
                    <div class="card background bg-dark">
                        <div class="card-body">
                            <div class="row justify-content-center" > <!-- style="color: white;" -->
                                <div class="col-md-2">
                                    <img src="images/admin.jpg" width="100" height="100" onclick="openUrlAdmin()" /><br><br>ADMIN
                                </div>
                                <div class="col-md-2">
                                    <img src="images/user_1.jpg" width="100" height="100" onclick="openUrlUser()" /><br><br>USER
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>