<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Intranet Mailing System | Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS-->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS-->

    <!-- side nav css file -->
    <link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <!-- side nav css file -->

    <!-- js-->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/custom.js"></script>
    <link href="/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <style >
        .cbp-spmenu-push div#page-wrapper {
            margin: 0 0 0 0em !important;
            transition:.5s all;
            -webkit-transition:.5s all;
            -moz-transition:.5s all;
        }
    </style>
</head>
<body class="cbp-spmenu-push" onload="getCorporations()">
<div class="main-content">

    <!--left-fixed -navigation-->
    <!-- header-starts -->

    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page login-page ">
            <h2 class="title1">Registration</h2>
            <div class="widget-shadow">
                <div class="login-body">
                    <form th:action="@{/users/registration}"  th:object="${userRegistration}" method="post">
                        <div class="row d-flex">
                            <div class="col-md-12 text-center">
                                <span class="text-center" th:if="${registerError != null}" th:text="${registerError}" style="color: red"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text"  class="user" th:field="*{firstName}" name="fname" title="Enter your first name and only characters are allowed!" placeholder="Enter First Name" required="" pattern="[a-zA-Z ]+">
                            </div>
                            <div class="col-md-6">
                                <input type="text"  class="user" th:field="*{lastName}" name="lname" title="Enter your last name and only characters are allowed!" placeholder="Enter Last Name" required="" pattern="[a-zA-Z ]+">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="email" th:field="*{email}" class="email" name="email"  placeholder="Enter Your Email" required=""  >
                            </div>
                            <div class="col-md-6">
                                <input type="email" id="alterEmail" th:field="*{alternateEmail}" class="email"  name="altemail" placeholder="Enter Alternate Email" required="">
                                <span class="text-capitalize text-danger" id="altrEmailError"></span>
                            </div>
<!--onfocusout="checkEmail()"-->
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="text"  th:field="*{phone}" title="Please enter numeric value!" class="phone" name="phoneNumber"  maxlength="10" minlength="10" placeholder="Enter Contact Number"  required pattern="[0-9]{10}">
                            </div>
                            <div class="col-md-6">
                                <select name="corporationName" class="selectCorporation" th:field="*{corporationName}">
                                    <option value="Select Corporations">--- Select Corporations ---</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="password" th:field="*{password}" id="password" name="password"  class="lock" placeholder="Password" title="Your password must be 8 characters long, at least contain one Upper letter,one numbers and one special characters." required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8}$">
                            </div>
                            <div class="col-md-6">
                                <input type="password" id="conPassword" name="conPassword" class="lock" placeholder="Confirm  Password" required="">
                                <span class="text-capitalize text-danger" id="passwordError"></span>
                            </div>
                        </div>

                        <input type="submit" id="regSubmit" name="Sign Up" value="Sign Up" >
                        <div class="registration">
                            Already have an account ?
                            <a class="" href="/users/login">
                                Login
                            </a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!--    Email check-->
    <script src="/js/rest-api-calls.js" type="application/javascript"></script>
    <script>
        function checkEmail(){
            var email1 = $("#email").val();
            var email2 = $("#alterEmail").val();
            if(email1===email2)
            {
                $("#altrEmailError").text("Email and Alternate email can not be same.");
                $("#regSubmit").attr("disabled",true);
            }
            else {
                $("#altrEmailError").text("");
                $("#regSubmit").attr("disabled",false);
            }
        }
    </script>
    <!--    end-->
    <!--    Password check-->
    <script>
        function checkPassword(){
            var password = $("#password").val();
            var confPassword = $("#conPassword").val();

            if (password!== confPassword)
            {
                $("#passwordError").text("Password and Confirm password must be same.");
                $("#regSubmit").attr("disabled",true);
            }
            else {
                $("#passwordError").text("");
                $("#regSubmit").attr("disabled",false);

            }
        }
    </script>
    <!--    end-->
    <!-- side nav js -->
    <script src='/js/SidebarNav.min.js' type='text/javascript'></script>
    <script>
        $('.sidebar-menu').SidebarNav()
    </script>
    <!-- //side nav js -->

    <!-- Classie --><!-- for toggle left push menu script -->
    <script src="/js/classie.js"></script>
    <script>
        var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            showLeftPush = document.getElementById( 'showLeftPush' ),
            body = document.body;

        showLeftPush.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( body, 'cbp-spmenu-push-toright' );
            classie.toggle( menuLeft, 'cbp-spmenu-open' );
            disableOther( 'showLeftPush' );
        };

        function disableOther( button ) {
            if( button !== 'showLeftPush' ) {
                classie.toggle( showLeftPush, 'disabled' );
            }
        }
    </script>
    <!-- //Classie --><!-- //for toggle left push menu script -->

    <!--scrolling js-->
    <script src="/js/jquery.nicescroll.js"></script>
    <script src="/js/scripts.js"></script>
    <!--//scrolling js-->

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.js"> </script>
    <!-- //Bootstrap Core JavaScript -->

</body>
</html>